:focus:not(:focus-visible) {
	outline: none;
}

body {
	background-color: #c0c0c0;
	color: black;
}

main a {
	color: blue;
	text-decoration: underline;
}

main a:visited {
	color: purple;
}

main a:active {
	color: red;
}

main a:has(:is(h1, h2, h3, h4, h5, h6)) {
	text-decoration: none !important;
}

main a:has(:is(h1, h2, h3, h4, h5, h6)) :is(h1, h2, h3, h4, h5, h6):after {
	content: " #";
	color: rgb(55, 65, 81);
	opacity: 0;
	transition: opacity 100ms ease-in-out;
	transition-delay: 150ms;
}

main
	a:has(:is(h1, h2, h3, h4, h5, h6))
	:is(h1, h2, h3, h4, h5, h6):hover:after {
	opacity: 1;
}

.quote::before,
.quote::after {
	content: '"';
}
