# Dependencies
node_modules

# dotfiles
.cache
.output
.env

# Built files
/app/styles/tailwind.css
/server/build
/public/build
/functions/_assets
functions/\[\[path\]\].js
functions/\[\[path\]\].js.map
.dev.vars
.DS_Store
